<!-- home.html -->
{% extends "layout.html" %}

{% import 'components.html' as components %}

{% block title %} HTMXGPT | {{title}} {% endblock %}
 
{% block messages %}
{{components.message("assistant", "Hello! I am HTMXGPT. How may I assist you today?", "0")}}
{% for message in messages %}
    {{ components.message(message.role, message.content, message.id) }}
{% endfor %}
{% endblock %}

{% block history %}
{% for convo in convos %}
    {{ components.conversation(convo.id, convo.created_at, convo.title) }}
{% endfor %}
{% endblock %}
